﻿
@{
    Layout = "~/Views/Shared/_layout.cshtml";
    ViewBag.Title = "صفحه اصلی";
}


<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h2>
                            با تلگرام حساب و کتاب هزینه هاتون را داشته باشید!
                            کار کردن و ثبت هزینه های روزانه با حسابات خیلی راحته!
                            کافیه مبلغ هزینه را بنویسید و یک هشتگ به عنوان نوع هزینه بزنید و بعد از اون هر توضیحی می خواهید بنویسید و برای بات بفرستید!
                        </h2>
                        <a href="http://t.me/hesubot" class="btn btn-outline btn-xl page-scroll">شروع کنید!</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait white">
                        <div class="device">
                            <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                <img src="@Url.Content("~/content/img/demo-screen.jpg")" class="img-responsive" alt="">
                            </div>
                            <div class="button">
                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section id="download" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">حسابداری شخصی با تلگرام!</h2>
                <p>اپلیکیشن ما از طریق یک بات تلگرام همیشه در خدمت شماست</p>
                <div class="badges"> 
                    <a class="badge-link" href="http://t.me/hesubot"><img src="@Url.Content("~/content/img/Telegram_logo.svg.png")" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="features" class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h2>ساده و آسان در استفاده، قدرتمند در ارائه گزارشات</h2>
                    <p class="text-muted">حسابداری هزینه ها و درآمدهای روزانه با حسابات</p>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait white">
                        <div class="device">
                            <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                <img src="@Url.Content("~/content/img/demo-screen.jpg")" class="img-responsive" alt="">
                            </div>
                            <div class="button">
                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="icon-screen-smartphone text-primary"></i>
                                <h3>موبایل</h3>
                                <p class="text-muted">هر کس از موبایل و تلگرام استفاده میکنه میتونه از حسابات استفاد کنه</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="icon-calculator text-primary"></i>
                                <h3>استفاده آسان</h3>
                                <p class="text-muted">ثبت تراکنش های شما به سادگی وارد کردن یک عدد و هشتگ انجام میشه</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="icon-present text-primary"></i>
                                <h3>استفاده رایگان</h3>
                                <p class="text-muted">استفاده از امکانات معمول حسابات برای همیشه رایگان است!</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="icon-lock text-primary"></i>
                                <h3>به روز و امن</h3>
                                <p class="text-muted">همیشه از آخرین نسخه با اطمینان کامل استفاده می کنید</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="icon-cloud-upload text-primary"></i>
                                <h3>همه جا در دسترس</h3>
                                <p class="text-muted">اطلاعات شما بر روی اینترنت است و از همه جا قابل دسترس است</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="icon-chart text-primary"></i>
                                <h3>گزارشات متنوع</h3>
                                <p class="text-muted">از اطلاعات مالی ذخیره شده خودتون گزارشات متنوعی دریافت می کنید</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="cta">
    <div class="cta-content">
        <div class="container">
            <h2>منتظر نباشید.<br>همین حالا شروع کنید!</h2>
            <a href="http://t.me/hesubot" class="btn btn-outline btn-xl page-scroll">شروع حسابداری با حسابات!</a>
        </div>
    </div>
    <div class="overlay"></div>
</section>
<section id="contact" class="contact bg-primary">
    <div class="container">
        <h2>ما <i class="fa fa-heart"></i> حساب و کتاب روزانه خود را با حسابات انجام بدین! </h2>
        <ul class="list-inline list-social">
            <li class="social-twitter">
                <a href="http://t.me/hesubot"><i class="fa fa-telegram"></i></a>
            </li>
            <li class="social-facebook">
                <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li class="social-google-plus">
                <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
        </ul>
    </div>
</section>