﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>حسابات - حسابداری شخصی در تلگرام - @ViewBag.Title</title>
    <!-- Bootstrap Core CSS -->
    <link href="@Url.Content("~/content/lib/bootstrap/css/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/content/css/bootstrap-rtl.min.css")" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <!-- Plugin CSS -->
    <link rel="stylesheet" href="@Url.Content("~/content/lib/font-awesome/css/font-awesome.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/content/lib/simple-line-icons/css/simple-line-icons.css")">
    <link rel="stylesheet" href="@Url.Content("~/content/lib/device-mockups/device-mockups.min.css")">
    <!-- Theme CSS -->
    <link href="@Url.Content("~/content/css/fonts.css")" rel="stylesheet">
    <link href="@Url.Content("~/content/css/style.css")" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">نمایش</span> منو <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">حسابات</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#download">ثبت نام</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#features">امکانات</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">تماس</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    @RenderBody()
    <footer>
        <div class="container">
            <p>&copy; 2017 Iman Nemati. All Rights Reserved.</p>
            <ul class="list-inline">
                <li>
                    <a href="#">حریم شخصی</a>
                </li>
                <li>
                    <a href="#">شرایط استفاده</a>
                </li>
                <li>
                    <a href="#">سئوالات متداول</a>
                </li>
            </ul>
        </div>
    </footer>
    <!-- jQuery -->
    <script src="@Url.Content("~/content/lib/jquery/jquery.min.js")"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="@Url.Content("~/content/lib/bootstrap/js/bootstrap.min.js")"></script>
    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <!-- Theme JavaScript -->
    <script src="@Url.Content("~/content/js/style.min.js")"></script>
</body>
</html>

